<div class="data-form">
  <form class="form-signin" action="<%=`/courses/${course._id}/update?_method=PUT`%>" method="POST">
    <h2 class="form-signin-heading">Edit course:</h2>
    <label for="inputTitle">Title</label>
    <input type="text" name="title" id="inputTitle" class="form-control" value="<%= course.title %>" placeholder="Title" autofocus>
    <label for="inputDescription">Description</label>
    <input type="text" name="description" id="inputDescription" class="form-control" value="<%= course.description %>" placeholder="Description">
    <label for="inputMaxStudents">Number of students</label>
    <input type="text" name="maxStudents" id="inputMaxStudents" class="form-control" value="<%= course.maxStudents %>" placeholder="Max students" required>
    <label for="inputCost">Cost</label>
    <input type="text" name="cost" id="cost" class="form-control" placeholder="Cost" value="<%= course.cost %>" required>
    <br /><button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
  </form>
</div>
