<h2>Users Table</h2>
<a href="<%=`users/new`%>" class="buttonAdd">Add User</a>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Zip Code</th>
      <th>Subscribed account?</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(user=> { %>
      <tr>
        <td>
          <a href="<%= `/users/${user._id}` %>">
            <%= user.fullName %>
          </a>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.zipCode %>
        </td>
        <td>
          <% if (user.subscribedAccount) { %>
            <a href="<%=`/subscribers/${user.subscribedAccount}` %>"><strong><u>Yes</u></strong></a>
          <% } else { %>
            No
          <% } %>                 
        </td>
        <td>
          <a href="<%=`/users/${user._id}/edit` %>">
            <span class="buttonEditDelete">Edit</span>
          </a>
        </td>
        <td>
          <a href="<%= `users/${user._id}/delete?_method=DELETE` %>" ➥
            onclick="return confirm('Are you sure you want to delete this record?')" class="buttonEditDelete">Delete</a>
        </td>
      </tr>
      <% }); %>
  </tbody>
</table>