<h1>User Data for <%= user.name %>
</h1>
<p>This user has <%= user.courses.length %> associated course(s)</p>
<table>    
    <tr>
        <th>Name</th>
        <td>
            <%= user.name %>
        </td>
    </tr>
    <tr>
        <th>Email</th>
        <td>
            <%= user.email %>
        </td>
    </tr>
    <tr>
        <th>Zip Code</th>
        <td>
            <%= user.zipCode %>
        </td>
    </tr>
</table>